<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Asana.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14DE1E091EAE443500FE7A7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14DE1E1A1EAE443600FE7A7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14DE1E251EAE443600FE7A7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
